version: 2.1
jobs:
  build-arm-image:
    machine:
      image: ubuntu-2204:current
      # docker_layer_caching: true
    resource_class: arm.large
    steps:
      - checkout
      - run:
          name: Docker Login
          command: |
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
      - run:
          name: Execute Build Script
          command: |
            cd security_docker
            bash cci-builder-script.sh main_apple
  build-amd-image:
    machine:
      image: ubuntu-2204:current
      # docker_layer_caching: true
    resource_class: large
    steps:
      - checkout
      - run:
          name: Docker Login
          command: |
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
      - run:
          name: Execute Build Script
          command: |
            cd security_docker
            bash cci-builder-script.sh main

workflows:
  commit:
    jobs:
      - build-arm-image
      - build-amd-image
  nightly:
    triggers:
      - schedule:
          cron: "0 0 22 * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - build-arm-image
      - build-amd-image
