name: CST General

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  amd64:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: '1'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: tanq16
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and Push Image
        run: |
          cd images/general
          docker build -f builder.Dockerfile -t intermediate_builder .
          docker builder prune -f
          docker build -f Dockerfile -t tanq16/cst-general:amd .
          docker push tanq16/cst-general:amd

  arm64:
    runs-on: ubuntu-24.04-arm
    env:
      DOCKER_BUILDKIT: '1'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: tanq16
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - run: |
          cd images/general
          docker build -f builder.Dockerfile -t intermediate_builder .
          docker builder prune -f
          docker build -f Dockerfile -t tanq16/cst-general:arm .
          docker push tanq16/cst-general:arm
