name: Main (ARM)

on:
  # push:
  #   branches:
  #     - 'main'
  # schedule:
  #   - cron: '0 0 22 * *'
  workflow_dispatch:

jobs:
  intermediate_builder:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: '1'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: tanq16
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - run: |
          cd security_docker
          docker buildx build -o type=docker --platform=linux/arm64 -f temp-arm-1.Dockerfile -t interimarm1 .
          docker builder prune -f
          docker buildx build -o type=docker --platform=linux/arm64 -f temp-arm-2.Dockerfile -t interimarm2 .
          docker builder prune -f
          docker buildx build -o type=docker --platform=linux/arm64 -f temp-arm-3.Dockerfile -t intermediate_builder .
          docker builder prune -f
          docker buildx build -o type=docker --platform=linux/arm64 -f Dockerfile -t tanq16/sec_docker:main_apple .
          docker push tanq16/sec_docker:main_apple
