name: ThreatHunt Image Apple Silicon

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 0 1,9,18,27 * *'
  workflow_dispatch:
    inputs:
      tags:
        description: 'run'
        required: false 
        type: boolean

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: tanq16
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push threathunt docker
        uses: docker/build-push-action@v2
        with:
          context: threathunnt_docker
          file: threathunt_docker/Dockerfile.AppleSilicon
          platforms: linux/arm64
          push: true
          tags: tanq16/sec_docker:thmain_apple
