name: Main (ARM)

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 0 22 * *'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: tanq16
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - run: chmod +x ./worker_docker_arm/local-builder-script.sh
      - run: cd ./worker_docker_arm && bash local-builder-script.sh
